@keyframes transitionIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.all-container {
    animation: transitionIn 0.75s;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 50%;
    max-width: 900px !important;
    width: 100%;
    max-height: 600px !important;
    height: 100%;
    background-color: #ffffff;
    transform: translate(-50%, 0);
    border-radius: 15px;
    color: #81531b;
    margin-top: 10vh;
}

h1 {
    margin-top: 20px;
}

.content {
    overflow-y: auto;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
}

.add-new-button {
    width: 23%;
    color: #ffffff;
    background-color: #ffac6c !important;
    border-color: transparent !important;
    display: block;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 500;
}

.add-new-button:hover {
    background-color: #ffdec4 !important;
    color: #81531b;
}