.sidebar-nav a {
    color: black;
    font-size: 16px;
}

.submenu{
    background-color: rgb(240, 240, 240);
}

.sidebar-item {
    font-weight: 500;
}

.sidebar-item:hover {
    background-color: #ffdec4;
    color: #81531b !important;
}

.sidebar-sub-item:hover {
    color: #81531b;
}