@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@600&display=swap');
*{
    font-family: 'Noto Sans Thai', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
}

body{
    height: 100%;
    background-image: url('pic/topbg.png'), url('pic/downbg.png');
    background-color: #131313 !important;
    background-repeat: no-repeat;
    background-position: center top 132px , center bottom;
    background-size: 100%;
    background-attachment: scroll, scroll; /* set background-attachment property */
}

.menubar-container nav ul {
    display: flex;
    list-style: none;
    margin-left: 0;
    padding: 0;
    margin-right: 1422px;
    margin-bottom: 0;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container{
    width: 800px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.form-container form{ 
    width: 400px;
}

.form-container form h2{ 
    margin-bottom: 17.5px;
    font-size: 30px;
}

.form-container form input{
    width: 400px;
    margin: 7.5px 0;
    font-size: 20px;
    border-radius: 5px;
    height: 45px;
    padding-left: 15px;
}

.form-container form input:focus {
    border-color: #fc0;
    box-shadow: 0 0 10px 0 #fc0;
}

.form-container form button{
    margin-top: 7.5px;
    width: 400px;
    height: 45px;
    border-radius: 5px;
    font-size: 20px;
    color: white;
    background-color: #7a1a4d;
}

.form-container form button:hover{
    color: #7a1a4d;
    background-color: #fc0;
}
