* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    padding: 1rem;
    color: white;
    font-weight: 500;
    background-color: #ffac6c !important;
    border-bottom: 3px solid white;
}

.custNav a {
    color: white;
    margin: 0 1rem;
    text-decoration: none;
}

.custNav nav-item {
    color: #ffffff;
}

.dropdown-menu {
    background-color: #ffac6c;
    color: white;
}

.dropdown-item:hover {
    color: #81531b;
    background-color: #ffdec4;
}

.dropdown {
    margin-right: 3rem;
}

.brand {
    margin-left: 3rem;
}

.adminNav {
    color: white;
}