@keyframes transitionIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


body {
    background-image: url(D:\Code\Gift-Basket\Client\src\screen\WebDecoPic\main-bg.jpg);
    margin: 0;
    padding: 0;
    height: 100vh;
}



.time-out-container {
    animation: transitionIn 0.75s;

    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    max-width: 300px !important;
    width: 100%;
    background-color: #ffffff;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    font-weight: 500;
    padding-top: 10px;
}

.errmsg-time-out {
    width: 80%;
    margin: 0 auto;
    color: #81531b !important;
    font-size: 18px !important;
}

.relogin-link {
    color: #ffac6c;
    text-decoration: none;
    font-weight: 500;
}

.relogin-link:hover {
    color: #ffdec4;
}